<%- include("header") -%>

<div class="heading">
    <h2>
        <% if(homePage) { %>
        Lists as of
        <%= listTitle %>
        <% } else { %>
        Tasks in the "
        <%= listTitle %> " list
        <% } %>
    </h2>
</div>
<% if(!homePage) { %>
<button><a href="/"><i class="fas fa-home"></i></a></button>
<% } %>
<div class="box">
    <ul>
        <% items.forEach(item => { %>
        <li>
            <form action="/delete" method="POST">
                <button type="submit" name="deleted" value="<%=item._id%>"><i class="far fa-trash-alt"></i></button>
                <!-- If statement to create links only when we are in the home page -->
                <% if(homePage) { %>
                <p>
                    <a href="/<%=item.name %>">
                        <%= item.name %> list</a>
                </p>
                <% } else { %>
                <p>
                    <%= item.name %>
                </p>
                <% } %>
                <input type="hidden" name="listName" value="<%=listTitle%>">
            </form>
        </li>
        <% }) %>
        <!-- Same as above but done with a "for loop" -->
        <!-- <% for (i=0; i < items.length; i++) { %> -->
        <!-- <li class="item">
            <input type="checkbox">
            <p>
                <%= items[i].name %>
            </p>
        </li> -->
        <!-- <% } %> -->
    </ul>

    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="Add a new item" autocomplete="off">
        <button type="submit" name="button" value="<%=listTitle %>"><i class="fas fa-plus"></i></button>
    </form>
</div>
<span>
    <a href="/about">About</a>
</span> this website.

<%- include("footer") -%>