<%- include("header") -%>
<div class="box" id="heading">
    <h2>
        <%= listTitle %>!</h2>
</div>
<div class="box">
    <ul>
        <% items.forEach(item => { %>
        <li class="item">
            <form action="/delete" method="POST">
                <input type="checkbox" onchange="this.form.submit()" name="deleted" value="<%=item._id%>">
                <p>
                    <%= item.name %>
                </p>
            </form>
        </li>
        <% }) %>
        <!-- Same as above but wit a "for loop" -->
        <!-- <% for (i=0; i < items.length; i++) { %> -->
        <!-- <li class="item">
            <input type="checkbox">
            <p>
                <%= items[i].name %>
            </p>
        </li> -->
        <!-- <% } %> -->
    </ul>

    <form class="item" action="/" method="POST">
        <input type="text" name="newTask" placeholder="Add new task" autocomplete="off">
        <button type="submit" name="button" value=<%=listTitle %>>+</button>
    </form>
</div>

<%- include("footer") -%>